/* Elegant calligraphy font for names and headings */
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

/* Clean readable sans-serif for body text */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

/* Antarctic font from local assets */
@font-face {
  font-family: 'LudvigVanBethoveen';
  src: url('../assets/ludvigvanbethoveen.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
